body {

    margin: 0px;
    overflow: hidden;
    background-image:url('win95imgs/clouds.png');
    background-size: 100% 100%;
    -webkit-user-select: none;
    cursor:default;
}

:focus {
    outline: 0;
}

::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    background:#DDD;
}
/* Turn on single button up on top, and down on bottom */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
}
::-webkit-scrollbar-button:start:decrement{
    background-image:url(win95icons/up.png);
}
::-webkit-scrollbar-button:end:increment{
    background-image:url(win95icons/down.png);
}
::-webkit-scrollbar-button:horizontal{
    transform: rotate(90deg);
    transform-origin: 50% 50%;
}
/* Turn off the down area up on top, and up area on bottom */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment,
::-webkit-scrollbar-thumb,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-dialog, button{
    padding: 2px;
    border-image-slice: 3 4;
    border-image-width: 3px 4px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-style: solid;
    border-image-source: url(win95icons/raised.png);
    background-color:#BEBEBE;
}
.sunken,
.ui-slider,
::-webkit-scrollbar-button:start:decrement:active,
::-webkit-scrollbar-button:end:increment:active,
.ui-widget-content .ui-state-active,
.ui-state-active,
.ui-widget-header .ui-state-active,
button:active{
    padding: 2px;
    border-image-slice: 3 4;
    border-image-width: 3px 4px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-style: solid;
    border-image-source: url(win95icons/sunken.png);
    background-position: 1 1;
}
input[type=text],input[type=number]{
    padding: 2px;
    border-image-slice: 3 4;
    border-image-width: 3px 4px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-style: solid;
    border-image-source: url(win95icons/textfield.png);
}

.ui-dialog-titlebar-close{
    border:0px !important;
    background: transparent !important;
}
.ui-icon-closethick{
    background-color:transparent;
    background-image: url(win95icons/Xbutton.png) !important;
    background-position:0px 0px !important;
}
.je-array{
    border:0px;
}
.slick-cell{
  font-size:10px;
}
.slick-header{
    border: 0px;
    padding: 0px;
}

.slider {
  display: inline-block;
  width: 100px;
  height:0px;
}

.kosherForm{
  border-collapse:collapse;
  width:100%;
}
.kosherForm td{
  white-space:nowrap;

  font-size:12px;
  font-weight:bold;
  text-align:center;
}

.kosherForm tr:not(:last-of-type){
  border-bottom:1px solid gray;
}
/*
.kosherPropertyRow:not(:last-of-type) > td{
  padding-bottom:7px;
}
*/
.kosherPropertyRow > td{
  padding-bottom:7px;
  padding-top:7px;

}
.kosherForm td.kosherPropertyLabel{
  text-align:right;
}
.kosherForm input{
  /*display:block;*/
  width:100%;
}

.fileChooser{
    white-space:nowrap;
    overflow-x:auto;
    overflow-y:hidden;
    height:100%;
}
.fileColumn{
    height:100%;
    width:100px;
    display:inline-block;
    /*border: 4px solid black;*/
    box-sizing: border-box;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: auto;
    position:relative;
}

.fileColumn:not(:last-of-type){
    border-right-width:0px;
}
.fileColumnResizer{
    background-color:black;
    width:5px;
    /*
    position:absolute;
    right:0px;
    top:0px;
    */
    display:inline-block;
    height:100%;
    cursor: col-resize;
}
.fileDiv{
    text-overflow:ellipsis;
    overflow:hidden;
    height:18px;
    line-height:18px;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position-x: 2px;
    background-position-y: 50%;
    vertical-align:middle;
}
.fileSelected{
    background-color:black;
    color:white;
}
.fileDirectory{
    background-image:url(win95icons/Icon_4-1.png);
}
.fileFile{
    background-image:url(win95icons/Icon_60-1.png);
}
.fileApp{
    background-image:url(win95icons/Icon_61-1.png);
}